{% extends 'quote/base.html' %}

{% block content %}
    
        {% comment %} <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class = "col-lg-6 col-md-6">
                {% for res in data %}
                    <div class="card h-100 p-4">
                        <div class="card-body">
                            <blockquote class="blockquote">
                                <h4>{{ res.quote }}</h4>
                                <p class="card-blockquote"><cite title="Source title"> - {{ res.author }}</cite></p>
                            </blockquote>
                        </div>
                    </div>   
                {% endfor %} 
                </div>
        </div> {% endcomment %}
        <table class=" container table" id="table_id"> 
            <thead>
                <tr>
                    <th>Quote</th>
                    <th>Author</th>
                    
                </tr>
            </thead>
            {% for data in data %}
                <tbody>
                    <tr>
                    
                        <td>{{ data.quote}}</</td>
                        <td>{{ data.author}}</td>
                    </tr>
            
                </tbody>
            {% endfor %}
        </table>
    
    </div>
    {% comment %} <div class="card">
            <div class="card-body">
                <blockquote class="blockquote">
                    <p>{{ quote }}</p>
                    <footer class="card-blockquote"><cite title="Source title"> - {{ author }}</cite></footer>
                </blockquote>
            </div>
        </div>  {% endcomment %}
{% endblock content %}
    